* {
  margin: auto;
}

.outer-box {
  /* background-color: green; */
  font-family: sans-serif;
  text-align: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

body {
  /* border: solid; */
}

header {
  display: flex;
  justify-content: center;
  height: 200px;
  width: 100%;
  border: solid;
}
.timeline {
  width: 400px;
}
.card {
  display: flex;
  border: solid;
}
.odd {
  display: flex;
  flex-direction: row-reverse;
  border: solid;
}

.pin {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: rgba(251, 48, 48, 0.974);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}




/* NAVBAR */
nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
}

.navbar {
  width: 100%;
  background: #43464B;
}

.navi {
  width: 35px;
  background-color: white;
  height: 5px;
  margin: 5px;
}

.navButton {
  width: 35px;
}
.navButton:hover .navi {
  width: 35px;
  background: rgb(63,94,251);
  background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
  color:white;
  transform: rotate(180deg);
  transition: 1.5s;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.navbar:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}